.products-container {
  display: flex;
  width: 100%;
  margin-top: 3vh;
}

.sidebar {
  width: 250px;
  padding: 1rem;
  background-color: #f4f4f4;
}

.main-content {
  flex: 1;
  padding: 1rem;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 2rem;
}

/* Toggle Header */
.toggle-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.toggle-option {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.toggle-option.active {
  color: #007bff; /* Highlight color */
  border-bottom: 3px solid #007bff;
}

.toggle-option:not(.active) {
  color: #666;
}
